$purple: #8f1566;
$yellow: #f6e805;
$black: #333;
$white: #f5f5f5;
$red: #f44336;

$page_tab_bg: #251159;
$page_tab_border: #baa6c8;

$login_input_bg: #7e79c1;
$login_bg: linear-gradient(to bottom right, #e14844, #c65692);
$login_submitbtn_bg: #4caf50;
$login_backbtn_color: #606cbf;

$hall_lottery_icon_border: #f2d75e;

$border_color: #e8eaec;
$chatroom_tab_bg: #4688e0;
$chatroom_tab_border: #ece5db;
$chatroom_popup_color: #e4e16a;
$chatroom_msg_time: #333;
$chatroom_msg_boxshadow: #888;
$chatroom_user_balance: #f03a02;
$chatroom_user_online: #008000;

$table_stripe: #f8f8f9;