body {
  overflow: hidden;
  margin: 0
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 870px;
  width: 1333px;
  background-color: #000;
  z-index: 1
}

#status {
  width: 309px;
  height: 59px;
  position: absolute;
  left: 50%;
  top: 500px;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: 50%;
  margin: -154px 0 0 -154px
}